* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: "Darker Grotesque", sans-serif; */
}

:root {
  --corBackground: #F8FBFF;
  --corPrincipal: #1B447A;
  --corCard: #E6EFFA;
  --corFontEscura: #000000;
  --alturaRodapé: 60px;
  --fontLogo: font-family: "Tangerine", cursive;
  --fontComplementar: font-family: "Darker Grotesque", sans-serif;
}

body {
  background-color: var(--corBackground);
}