* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Bona Nova SC", serif;
}

:root {
  --corBackground: #F8FBFF;
  --corPrincipal: #95BCEA;
  --corCard: #E6EFFA;
  --corFontEscura: #000000;
  --alturaRodapé: 60px;
  --fontLogo: font-family: "Tangerine", cursive;
  --fontComplementar:  font-family: "Bona Nova SC", serif;
}

body {
  background-color: var(--corBackground);
}